<main className="mt-0 transition-all duration-200 ease-soft-in-out">
  <div class="w-full flex justify-center">
    <div
      class="relative flex flex-col break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border m-4 p-8 max-w-lg"
    >
      <h1 class="mb-6">Отметка присутствия</h1>

      <p class="text-lg mb-6 text-red-600">К сожалению, введенный email не найден!</p>
      <a href="/attendance/<%= attendanceFormKey %>" class="btn-primary">Попробовать еще раз</a>
      <p class="text-sm mb-4">Или если вы не регистрировались, то самое время это сделать!</p>
      <a href="/register/<%= registerFormKey %>" class="btn-primary">Зарегистрироваться</a>
    </div>
  </div>
</main>
