<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/app.css" rel="stylesheet">
    <!-- <link href="css/theme/soft-ui-dashboard-tailwind.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- <link href="./css/theme/nucleo-icons.css" rel="stylesheet" />
    <link href="./css/theme/nucleo-svg.css" rel="stylesheet" /> -->
</head>
<body>
    <h1>Hello World</h1>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
    <button type="button" class="btn-primary">Button</button>
</body>
</html>